@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --input-black-color: #121212;
  --dark-black-color: #181818;
  --back-color: #212121;
  --light-black-color: #323232;
  --white-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

body {
  background-color: var(--dark-black-color);
}

ul,
li {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Header */

#header {
  width: calc(100vw - 70px);
  height: 56px;
  background-color: var(--back-color);
  color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--light-black-color);
  margin-left: 70px;
  position: fixed;
  top: 0;
  z-index: 90;
}

#header .material-icons {
  font-size: 24px;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: auto;
  height: 20px;
  margin-right: 5px;
}

.header__title-name {
  font-size: 23px;
  color: var(--white-color);
}

.header__search {
  display: flex;
  align-items: center;
  width: 45%;
}

.header__search-input {
  width: 100%;
  height: 40px;
  background-color: #121212;
  color: var(--white-color);
  border: 1px solid var(--light-black-color);
  padding-left: 10px;
  font-size: 16px;
}

.header__search-button {
  width: 85px;
  height: 40px;
  background-color: var(--light-black-color);
  color: var(--white-color);
  margin-right: 10px;
}

.material-icons.mic {
  background-color: var(--dark-black-color);
  height: 40px;
  width: 50px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__icons > span,
.header__icons > img {
  margin-right: 30px;
}

.header__icons > img {
  border-radius: 50%;
  width: auto;
  height: 35px;
}

/* Side navigation bar */

.default-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 72px;
  height: 100%;
  background-color: var(--back-color);
  color: var(--white-color);
  text-align: center;
  padding-top: 15px;
  position: fixed;
  top: 0;
}

.default-nav .hamburger-menu {
  margin-bottom: 15px;
  cursor: pointer;
}

.default-nav__menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
}

.default-nav__menu:hover {
  background-color: var(--light-black-color);
}

.default-nav__menu .material-icons {
  font-size: 24px;
  margin-bottom: 5px;
}

.default-nav__menu-title {
  font-size: 10px;
}

.detailed-nav {
  background-color: var(--back-color);
  width: 240px;
  color: var(--white-color);
  position: absolute;
  top: 0;
  left: -240px;
  transition: all 150ms linear;
  z-index: 100;
}

.detailed-nav.show {
  left: 0px;
}

.detailed-nav__wrapper {
  height: 100vh;
  background-color: var(--back-color);
  overflow-y: scroll;
}

.detailed-nav .section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--light-black-color);
  margin: 0 13px 10px 0;
  padding-bottom: 10px;
}

.detailed-nav__title {
  position: sticky;
  top: 0;
  padding: 15px 0;
  background-color: var(--back-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailed-nav__title h1 {
  font-size: 23px;
}

.material-icons.hamburger-menu {
  margin: 0 20px;
  cursor: pointer;
}

.detailed-nav__menu {
  cursor: pointer;
}

.detailed-nav__title,
.detailed-nav__menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.detailed-nav__menu .material-icons {
  font-size: 24px;
  padding: 8px 20px;
}

.detailed-nav__menu.focused {
  background-color: var(--light-black-color);
}

.detailed-nav__menu:hover {
  background-color: var(--light-black-color);
}

.detailed-nav__menu-title {
  font-size: 14px;
  padding-right: 50px;
}

.detailed-nav h5 {
  font-size: 14px;
  margin: 0 0 10px 20px;
  color: darkgray;
}

.detailed-nav .footer {
  border: none;
  margin: 0;
  padding: 0;
}

.footer > p {
  font-size: 13px;
  margin-left: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: darkgray;
}

.footer .copylight {
  font-size: 12px;
  font-weight: normal;
  color: gray;
}

/* Main contents */

.main {
  width: calc(100% - 70px);
  background-color: var(--dark-black-color);
  color: var(--white-color);
  margin-left: 80px;
}

.videos {
  background-color: var(--dark-black-color);
  text-align: start;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video {
  cursor: pointer;
  transition: all 250ms ease-in;
}

.video:hover {
  transform: scale(1.05);
}

.video__thumbnail {
  width: 100%;
}

.video__title {
  margin-top: 8px;
  font-size: 13px;
}

.video__channel {
  margin-top: 5px;
  font-size: 5px;
  color: gray;
}
